body {
  background-color: #fff;
}

.wrapper {
  max-width: 1290px;
  margin: 0 auto;
  font-family: "Inter";
  background-color: #fff;
  color: #211b12;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
}

.nav-list {
  display: flex;
  align-content: center;
  width: 420px;
  padding: 0;
}

.nav-item {
  padding-left: 30px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}

.nav-item__head {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  color: #0682b3;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.header-text {
  padding: 59px 0 0 92px;
}

.header-heding {
  width: 530px;
  color: #211b12;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.72px;
  text-align: left;
}

.header-strong {
  color: #211b12;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.44px;
  line-height: 60px;
  text-align: left;
}

.text-color {
  color: #0682b3;
  letter-spacing: -0.48px;
  line-height: 32.4px;
}

.header-links {
  display: flex;
  align-items: center;
}

.social-item {
  padding-right: 24px;
}

.cv-download {
  display: flex;
  padding: 7px 8px;
  padding-left: 55px;
  color: #211b12;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.cv-text::after {
  content: "";
  display: flex;
  transform: translate(-5px, 10px);
  margin-left: -30px;
  width: 180px;
  height: 3px;
  background-color: #0682b3;
}

.section-heading {
  padding-bottom: 32px;
  color: #0682b3;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -1.44px;
  line-height: 60px;
  text-align: left;
}

.card-text__wrapper {
  padding: 16px;
}

.card-title {
  color: #0682b3;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.48px;
  line-height: 32.4px;
  text-align: left;
}

.tags {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.tags-item {
  border: 1px solid #0682b3;
  margin-right: 4px;
}

.tag {
  padding: 5px 10px 4px 8px;
  color: #211b12;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.card-one {
  padding-right: 45px;
}

.card-text {
  width: 387px;
  margin-bottom: 22px;
  color: #211b12;
  line-height: 24px;
  text-align: left;
}

.card-buttons {
  width: 250px;
  margin-left: 5px;
}

.card-button {
  padding: 0 20px 0 0;
  border-bottom: 3px solid #0682b3;
  padding-bottom: 5px;
  margin-right: 25px;
}

.card-button__icon {
  padding-right: 10px;
}

.card-button__text {
  color: #211b12;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.cards {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 120px;
}

.devoloper {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
}

.devoloper-photo {
  width: 360px;
  border-radius: 20px;
  flex-shrink: 0;
  object-fit: cover;
}

.devoloper-about {
  margin-left: 55px;
  margin-top: 27px;
}

.devoloper-hello {
  color: #211b12;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 32.4px;
  text-align: left;
  margin-bottom: 4px;
}

.devoloper-title {
  color: #0682b3;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.96px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 16px;
}

.motto {
  color: #64c2e8;
  font-family: "Helvetica";
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.devoloper-text,
.devoloper-text__about {
  color: #211b12;
  line-height: 24px;
  text-align: left;
  margin: 16px 0;
}

.skills {
  margin-bottom: 120px;
}

.skill-title {
  color: #211b12;
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.48px;
  line-height: 32.4px;
  text-align: left;
}

.feedback-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: -0.96px;
  line-height: 40px;
  text-align: left;
}

.form-container {
  max-width: 435px;
  margin: auto;
}

.input-group {
  position: relative;
  padding-top: 9px;
  margin-bottom: 24px;
}

.input-label {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #83807c;
  padding: 0 8px;
  background-color: #fff;
}

.input {
  padding-left: 20px;
  border: 3px solid #e0dedc;
  border-radius: 4px;
  width: 435px;
  height: 56px;
}

.textarea {
  min-height: 150px;
}

.strech {
  display: inline-block;
  vertical-align: middle;
  transform: translate(-8px, -3px);
}

.button-strech {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 40px;
  background-color: #fff;
  margin-left: 270px;
  text-align: left;
  cursor: pointer;
}

.button-text::after {
  content: "";
  display: block;
  margin-left: -5px;
  width: 125px;
  background-color: #0682b3;
  margin-bottom: 147px;
}

.footer-text {
  font-size: 20px;
  color: blue;
  margin-bottom: 10px;
  text-align: center;
}

.site {
  color: #211b12;
  padding-right: 110px;
}

.my-adress {
  margin-bottom: 15px;
  margin-left: 90px;
}

.footer-text {
  text-align: center;
}

.email {
  color: #49aad1;
}
