body {
  background-color: #fff;
}

.wrapper {
  max-width: 1290px;
  margin: 0 auto;
  font-family: "Inter";
  background-color: #fff;
  color: #211b12;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.navbar {
  max-width: 870px;
  width: 100%;
  padding: 44px 218px 59px 216px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-right: 464px;
}

.nav-list {
  display: flex;
  align-content: center;
  width: 420px;
  padding: 0;
}

.nav-item {
  padding-left: 30px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}

.nav-item__head {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  color: #bf7506;
}
