body 
   background-color: #fff 

.wrapper
   max-width: 1290px
   margin: 0 auto   
   font-family: 'Inter'
   background-color: #fff 
   color: #211b12
   font-size: 16px   
   font-weight: 400  
   font-style: normal
   letter-spacing: normal
   line-height: normal

.container
   max-width: 870px 
   width: 100%   
   margin: 0 auto 
   padding: 30px 0     

.navbar  
   display: flex
   align-items: center
   justify-content: space-between
   padding-top: 44px

.logo
   padding-right: 464px   

.nav-list
   display: flex
   align-content: center
   width: 420px
   padding: 0
   
.nav-item   
   padding-left: 30px   
   font-family: Inter
   font-size: 16px
   font-weight: 400
   font-style: normal
   letter-spacing: normal
   line-height: 24px
   text-align: left  

.nav-item__head     
   font-family: Inter
   font-size: 16px
   font-weight: 700

.nav-link   
   text-decoration: none 
   color: #bf7506

.img-emoji
   width: 212px
   height: 240px   
   margin-left: -40px

.header
   display: flex   
   align-items: center
   

.header-text   
   padding-left: 92px

.header-text__aboutme
   width: 510px 
   color: #211b12
   font-size: 24px
   font-weight: 700
   letter-spacing: -0.72px
   text-align: left   

.header-strong
   color: #211b12
   font-size: 48px
   font-weight: 700
   letter-spacing: -1.44px
   line-height: 60px
   text-align: left   

.text-color
   color: #bf7506
   letter-spacing: -0.48px
   line-height: 32.4px 

.social-list
   display: flex
   align-items: center
   padding: 0

.social-link
   display: inline-block
   padding: 8px
   
.header-links
   display: flex
   align-items: center    

.cv-icon
   margin-right: 10px   

.cv-download  
   display: flex 
   padding: 7px 8px   
   padding-left: 55px
   color: #211b12
   font-weight: 700
   line-height: 24px
   text-align: left

.cv-text::after
   content: ""
   display: flex 
   transform: translate(-5px, 10px)
   margin-left: -30px   
   width: 180px
   height: 3px  
   background-color: #bf7506





    
   



   